* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white);
    color: var(--black);
}

:root {
    --black: #333;
    --black2: #707070;
    --white: #fff;
    --white2: rgba(255, 255, 255, 0.76);
}

.dark {
    --black: #fff;
    --black2: #444;
    --white: #333;
    --white2: #444444c7;
}


/* Navbar */
  .navbar {
    height: 100px;
    background: transparent;
    backdrop-filter: blur(10px);
  }

/* change navbar background on collapse */
@media (max-width: 991px) {
    .navbar-collapse {
        background-color: var(--white2);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-end;
        padding-bottom: 35px;
    }
    form {
        margin-top: 50px;
    }
}

ul li a
{
    position: relative;
    margin: 20px 0;
    display: inline-block;
    padding: 0 50px;
    text-decoration: none;
    color: var(--black);
}

ul li a:hover
{
    transform: scale(1.4);
    transition: all .2s ease-in-out;
    color: var(--black);
}

/* Hero section */

.hero-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: last baseline;
    align-content: center;
    flex-shrink: 3;
    row-gap: 200px;
    column-gap: 45px;
}

.square {
    position: relative;
    top: 150px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 63% 37% 60% 40% / 55% 73% 27% 45%;
    background-image: url('images/profile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    animation: Morph 4s infinite;
}

.square span {
    position: absolute;
    inset: 0;
    border: 2px solid var(--black);
    opacity: 0.5;
}

.square span:nth-child(1)
{
    border-radius: 52% 48% 48% 52% / 47% 51% 49% 53%;
    animation: animateSquare 6s linear infinite;
}
.square span:nth-child(2)
{
    border-radius: 32% 68% 30% 70% / 63% 63% 37% 37%;
    animation: animateSquare2 12s linear infinite;
}
.square span:nth-child(3)
{
    border-radius: 63% 37% 60% 40% / 55% 73% 27% 45%;
    animation: animateSquare 10s linear infinite; 
}

@keyframes Morph {
    0%,
    100% {
        border-radius: 58% 42% 53% 47% / 55% 49% 51% 45%;

    }

    50% {
        border-radius: 69% 31% 73% 27% / 34% 63% 37% 66%;
    }
}


@keyframes animateSquare
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animateSquare2
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}


/* about section image css */
.imageAboutPage {
    width: 100%;
}


@media (min-width: 768px) {
  #about-me
    {
    margin-top: 100px;
    }  
  }

  @media (max-width: 768px) {
    .hero-text{
        margin: 45px;
    }
    .tech-stack{
        margin: 50px;
    }
  }


/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}


/* social media icons styling */
.sm-icons {
    font-size: 36px;
}

.sm-icons i{
    color: var(--black);
    cursor: pointer;
}

.tech-stack {
    font-size: 56px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.fa-html5:hover
{
    color: orangered;
}
.fa-css3-alt:hover
{
    color: blue;
}
.fa-react:hover
{
    color: cornflowerblue;
}
.fa-square-js:hover
{
    color: yellow;
}
.fa-node-js:hover
{
    color: greenyellow;
}
.fa-sass:hover
{
    color: palevioletred;
}


/* a neon style */
.buttons a {
    position: relative;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    margin: 40px;
    transition: 1s;
    text-decoration: none;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
.buttons a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                /* 0 0 30px var(--clr), */
                /* 0 0 60px var(--clr), */
                0 0 80px var(--clr);
}

.buttons a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 700%;
    background: var(--clr);
    transition: 1s;
    animation: animateButton 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

.buttons a:hover::before {
    width: 120%;
}

@keyframes animateButton
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.buttons a::after
{
    content: '';
    position: absolute;
    background: var(--white);
    inset: 4px;
    transition: 0.5s;
}

.buttons a:hover::after
{
    background: var(--clr);
}

.buttons a span
{
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: var(--black);
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

.buttons a:hover span
{
    opacity: 1;
}


/* button neon style */
.buttons button {
    position: relative;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px auto;
    transition: 1s;
    text-decoration: none;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                /* 0 0 30px var(--clr), */
                /* 0 0 60px var(--clr), */
                0 0 80px var(--clr);
}

.buttons button::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 700%;
    background: var(--clr);
    transition: 1s;
    animation: animateButton 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

.buttons button:hover::before {
    width: 120%;
}

@keyframes animateButton {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.buttons button::after {
    content: '';
    position: absolute;
    background: var(--white);
    inset: 4px;
    transition: 0.5s;
}

.buttons button:hover::after {
    background: var(--clr);
}

.buttons button span {
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: var(--black);
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

.buttons button:hover span {
    opacity: 1;
}


/* theme switch */

.themeSwitch {
    width: 30px;
    height: 30px;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.themeSwitch::before {
    content: '\f186';
    font-family: fontAwesome;
}


.themeSwitch::after {
    color: var(--black);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .themeSwitch::before {
    content: '\f185';
    font-family: fontAwesome;
}

/* portfolio img */

@media screen and (max-width: 767px) {
    .projects {
      grid-template-columns: 1fr; 
    }
  
    .project1 {
      align-items: center;
    }
  
    .project-img {
      max-width: 300px;
      margin: 0 auto;
    }
  }

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 45px 0;
  }
  .project-img {
    width: 900px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .img-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .img-hover {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    transition: transform 13s;
  }

  .img-container:hover .img-hover {
    transform: translateY(-85%);
  }
  
  .pro__text {
    text-align: center;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 35px;
  }

  .links a
  {
    color: var(--black);
    text-decoration: none;
  }

/* Contact card */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact
{
    position: relative;
    width: 400px;
    height: 200px;
    background: var(--clr);
    border-radius: 20px;
    border-top-left-radius: 50px;
    overflow: hidden;
}

.contact .box {
    position: absolute;
    inset: 10px;
    background: var(--white);
    border-radius: 10px;
}

.contact .box .icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--clr);
    border-bottom-right-radius: 50%;
    transition: 0.5s;

}

.contact:hover .box .icon {
    width: 25%;
    color: var(--clr);
}

.contact .box .icon::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}

.contact .box .icon::after{
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 28px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}

.contact .box .icon .iconBox
{
    position: absolute;
    inset: 10px;
    background: var(--white);
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.fa-solid .fa-envelope {
    font-size: 4em;
    color: var(--black);
}

.contact .box .contentBox {
    position: absolute;
    top: 28px;
    text-align: center;
    padding: 0 15px;
    font-size: 1.35em;
    letter-spacing: 0.12em;
}



/* footer styling */
#footer {
    background-color: #333;
    text-align: center;
    height: 150px;
    color: #fff;
    padding-top: 75px;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 6rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}